* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.7), rgba(85, 85, 85, 0.7)), url(../img/work-desk.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  font-family: 'Syncopate', sans-serif;
}

.alert-msg, .contact-msg {
  padding: 30px;
}

.contact-msg {
  margin-bottom: 60px;
}

.contact-btn {
  color: #fff;
  background: #f03;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  padding: 15px;
  border-radius: 20px;
}