* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.header {
  height: 100vh;
  background-color: #f8f8f8;
  color: #333;
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
  position: relative;
}

.info {
  text-align: center;
  letter-spacing: .25rem;
  line-height: 1.4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-msg, .contact-msg {
  padding: 1rem;
}

.contact-msg {
  font-size: 1.8rem;
  margin-bottom: 6rem;
}

.contact-btn {
  color: #eee;
  background: #f03;
  font-size: 2rem;
  text-decoration: none;
  padding: 2rem;
  border-radius: 2.5rem;
}

.contact-btn:hover {
  background-color: #333;
  color: #f03;
  transition: box-shadow, background-color, color .6s;
}